<html>
{% load staticfiles %}
<head>
<script>
function deletedoc(no)
{
	alert(no);
	document.getElementById("selectedid").value=no;
	document.getElementById("frm").submit();
}
</script>
<title>A1 Hospital Doctors</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-image:url({% static 'img/home.jpg' %}); background-size:100%;">

<div class="header">
	<h1 style="color:red; text-align:center; font-family:verdana;">A1 HOSPITAL</h1>
</div>
<div class="icon">
	<a href="home"><img src="{% static 'img/icon1.png' %}" height="40px"></a>
</div>

<div class="menu">
<a href="adminlogin" style="color:red; font-family:verdana; margin-top:-60; font-size:22PX;">LOGOUT</a>
</div>
</div>

<div style="margin-top:90;"> 
<a href="adminhome" style="color:red; font-family:verdana; font-size:20PX;">HOME</a>
<a href="doctors" style="color:red; font-family:verdana; font-size:20PX; margin-left:20;">VIEW DOCTORS</a>
<a href="patients" style="color:red; font-family:verdana; font-size:20PX; margin-left:20;">VIEW PATIENTS</a>
</div>


<h2 style="text-align:left; font-family:verdana; margin-top:60;"><u>List Of Doctors</u></h2>

<form name="frm" id="frm" action="doctordeletehandler">
<input type="hidden" name="selectedid" id="selectedid">
</form>

<div style="margin-top:50;">
<table width="75%" border="1">
 <tr>
 <td>Id</td>
 <td>Name</td>
 <td>Gender</td>
 <td>Date Of Birth</td>
 <td>Specialisation</td>
 <td>District</td>
 <td>Email</td>
 <td>Phone</td>
 <td>Username</td>
 <td>Delete</td>
 </tr>

 {% for x in drows %}
   <tr>
    <td>{{x.0}}</td>
	<td>{{x.1}}</td>
	<td>{{x.2}}</td>
	<td>{{x.3}}</td>
	<td>{{x.4}}</td>
	<td>{{x.5}}</td>
	<td>{{x.6}}</td>
	<td>{{x.7}}</td>
	<td>{{x.8}}</td>
	<td><input type="button" name="delete" value="Delete" onclick="deletedoc('{{x.0}}')"></td>

   </tr>	
	
 {% endfor %}

</table>

</div>






<div class="footer">
  <p>Copyright &copy; 2022 A1 HOSPITAL</p>
</div>

</body>
</html>