<html>
{% load staticfiles %}
<head>
<title>A1 Hospital Patient Home</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body style="background-image:url({% static 'img/home.jpg' %}); background-size:100%;">

<div class="header">
	<h1 style="color:red; text-align:center; font-family:verdana;">A1 HOSPITAL</h1>
	<h2 style="color:black; text-align:center; font-family:verdana;">Patient Home</h2>
</div>
<div class="icon">
	<a href="home"><img src="{% static 'img/icon1.png' %}" height="40px"></a>
</div>


<div class="menu">
{{pname}}
<a href="patientlogin" style="color:red; font-family:verdana; margin-top:-60; font-size:22PX; text-decoration:none;">LOGOUT</a>
</div>
</div>

<div style="margin-top:140;"> 
<a href="patienthome" style="color:red; font-family:verdana; font-size:20PX; text-decoration:none;">HOME</a>
<a href="patientprofile" style="color:red; font-family:verdana; font-size:20PX; margin-left:20; text-decoration:none;">PROFILE</a>
<a href="patientsdoctors" style="color:red; font-family:verdana; font-size:20PX; margin-left:20; text-decoration:none;">VIEW DOCTORS</a>
<a href="trackappointment" style="color:red; font-family:verdana; font-size:20PX; margin-left:20; text-decoration:none;">TRACK APPOINTMENT</a>

</div>

<div style="margin-top:1; margin-left:550; position:fixed;">
<h2>Welcome, {{pname}} </h2>
</div> 


<div class="footer">
  <p>Copyright &copy; 2022 A1 HOSPITAL</p>
</div>

</body>
</html>
