<html>
{% load staticfiles %}
<head>
<title>A1 Hospital Track Appointment</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-image:url({% static 'img/home.jpg' %}); background-size:100%;">

<div class="header">
	<h1 style="color:red; text-align:center; font-family:verdana;">A1 HOSPITAL</h1>
	<h2 style="color:black; text-align:center; font-family:verdana;">Track Appointment</h2>

</div>
<div class="icon">
	<a href="home"><img src="{% static 'img/icon1.png' %}" height="40px"></a>
</div>

<div class="menu">
{{pname}}
<a href="patientlogin" style="color:red; font-family:verdana; margin-top:-60; font-size:22PX; text-decoration:none;">LOGOUT</a>
</div>
</div>

<div style="margin-top:140;"> 
<a href="patienthome" style="color:red; font-family:verdana; font-size:20PX; text-decoration:none;">HOME</a>
<a href="patientprofile" style="color:red; font-family:verdana; font-size:20PX; margin-left:20; text-decoration:none;">PROFILE</a>
<a href="patientsdoctors" style="color:red; font-family:verdana; font-size:20PX; margin-left:20; text-decoration:none;">VIEW DOCTORS</a>
<a href="trackappointment" style="color:red; font-family:verdana; font-size:20PX; margin-left:20; text-decoration:none;">TRACK APPOINTMENT</a>
</div>



<div style="margin-top:40px;">
<table width="75%" border="1">
<tr>
<td>Appointment ID</td>
<td>Doctor Name</td>
<td>Doctor ID</td>
<td>Patient Name</td>
<td>Patient ID</td>
<td>Time</td>
<td>Date</td>
<td>Token</td>
<td>Status</td>
<td>Rating</td>
</tr>
{% for x in drows %}
<tr>
<td>{{x.0}}</td>
<td>{{x.1}}</td>
<td>{{x.2}}</td>
<td>{{x.3}}</td>
<td>{{x.4}}</td>
<td>{{x.5}}</td>
<td>{{x.6}}</td>
<td>{{x.7}}</td>
<td>{{x.8}}</td>
<td>
{% if x.8 == 'Approved' %} 
	<form name="ratefrm" id="ratefrm" action="ratehandler">
	<select name="rating" id="rating" required><option value="">Rating</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	</select>
	</form>
{% endif %}
</td>
</tr>
{% endfor %}
</table>
</div>






<div class="footer">
  <p>Copyright &copy; 2022 A1 HOSPITAL</p>
</div>

</body>
</html>