
	
.header
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100% ;
	color: red;
	background-color: white;
	opacity: 0.7;
	text-align: center;
}

	
.icon
{
	left: 20;
	top: 20;
	position: fixed;
}


.menu
{
	right: 20;
	top: 20;
	position: fixed;
}

.home
{
	right: 20;
	top: 20;
	position: fixed;
}
	
.login
{
	margin-top: 20;
}	



.footer 
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: red;
  background-color: white;
  opacity: 0.8;
  text-align: center;
}


.heading1
{
	color:black;
	text-align: center;
	font-family: verdana;
}

.registration
{
	margin-top: 20;
}	

